<div id="master">
  <br>
      <!-- Page Layout here -->
      <div class="row">

          <div class="col s3">
              <div class="col s12" img src="https://via.placeholder.com/150" alt="chakra placeholder">
                <br>
                <br>
              </div>
              <div class="col s12" style="background-color:blue; border-style: solid; border-width: 5px; border-color: white; padding: 2px;">Chakra Info
                  The Crown Chakra is located at the very top of the head. It represents spiritual connectedness, concerns inner and outer beauty, and pure bliss.
                  <br>
                  <br>
              </div>
              <br>
              <div class="col s12" style="background-color:blue; border-style: solid; border-width: 5px; border-color: white; padding: 2px;">Suggestions
                  Since the Crown Chakra represents our spiritual connection to our surroundings, this Chakra does not benefit from healing foods. The Crown Chakra is more likely to respond to breathing clean and fresh air, sunshine, and meditation.
                  <br>
                  <br>
              </div>
          </div>
          <div class="col s6">
            <hr>
            <div class="col s12"><img src="/public/assets/css/human-body2-512.png" alt="" class="circle responsive-img"></div>
            <br>
            <br>
            <div class="col s12">Mantra: "I AM.."</div>
          </div>
          <div class="col s3">
            <div class="col s12" style="background-color:blue; border-style: solid; border-width: 5px; border-color: white; padding: 2px;">Horoscope
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vel hendrerit mauris, vel congue eros. Sed varius ornare malesuada.
            <br>
            </div>
            <br>
            <div class="col s12" form action="#"> Personal Issues
              <p>
                <label>
                  <input type="checkbox"/>
                  <span>Sleep</span>
                </label>
                <label>
                  <input type="checkbox"/>
                  <span>Asthma or Allergies</span>
                </label>
                <label>
                  <input type="checkbox"/>
                  <span>Eyesight</span>
                </label>
                <label>
                  <input type="checkbox"/>
                  <span>Poor Intuition</span>
                </label>
                <label>
                  <input type="checkbox"/>
                  <span>Sore Throat</span>
                </label>
                <label>
                  <input type="checkbox"/>
                  <span>Thyroid Problems</span>
                </label>
                <label>
                  <input type="checkbox"/>
                  <span>Concentration</span>
                </label>
                <label>
                  <input type="checkbox"/>
                  <span>Fear of Intimacy</span>
                </label>
                <label>
                  <input type="checkbox"/>
                  <span>Gas or Bloating</span>
                </label>
                <label>
                  <input type="checkbox"/>
                  <span>Eating Disorders</span>
                </label>
                <label>
                  <input type="checkbox"/>
                  <span>Procrastination</span>
                </label>
                <label>
                  <input type="checkbox"/>
                  <span>Alienation</span>
                </label>
                <label>
                  <input type="checkbox"/>
                  <span>Heart or Lung Problems</span>
                </label>
                <label>
                  <input type="checkbox"/>
                  <span>Hip Pain</span>
                </label>
                <label>
                  <input type="checkbox"/>
                  <span>Sexual Dysfunction</span>
                </label>
                <label>
                  <input type="checkbox"/>
                  <span>Depression</span>
                </label>
                <label>
                  <input type="checkbox"/>
                  <span>Creative Blocks</span>
                </label>
                <label>
                  <input type="checkbox"/>
                  <span>Colon Issues</span>
                </label>
                <label>
                  <input type="checkbox"/>
                  <span>Lower Back Pain</span>
                </label>
                <label>
                  <input type="checkbox"/>
                  <span>Varicose Veins</span>
                </label>
                <label>
                  <input type="checkbox"/>
                  <span>Difficult Self-Expression</span>
                </label>
              </p>
            <br>
            </div>
            <div class="col s12" style="background-color:blue; border-style: solid; border-width: 5px; border-color: white; padding: 2px;">Top 3 Chakras
                
            <br>
            </div>
          </div>
        </div>
  <!-- Modal Trigger -->
  <a class="waves-effect waves-light btn modal-trigger" href="#modal1">Modal</a>

  <!-- Modal Structure -->
  <div id="modal1" class="modal">
    <div class="modal-content">
      <h4>Modal Header</h4>
     <form>

  <div class="row">
      <form class="col s12">
        <div class="row">
          <div class="input-field col s6">
            <input placeholder="Placeholder" id="first_name" type="text" class="validate">
            <label for="first_name">First Name</label>
          </div>
          <div class="input-field col s6">
            <input id="last_name" type="text" class="validate">
            <label for="last_name">Last Name</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
              <div class="input-field col s12">
                  <select>
                    <option value="" disabled selected>Choose your option</option>
                    <option value="1">Option 1</option>
                    <option value="2">Option 2</option>
                    <option value="3">Option 3</option>
                  </select>
                  <label>Materialize Select</label>
                </div>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input id="password" type="password" class="validate">
            <label for="password">Password</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input id="email" type="email" class="validate">
            <label for="email">Email</label>
          </div>
        </div>
      </form>
    </div>
     </form>
    </div>
    <div class="modal-footer">
      <a href="" class="modal-close waves-effect waves-green btn-flat">Agree</a>
    </div>
  </div>
<!-- <div class="body">
  <div class="right-side">
    <div class="row">
      <div class="col s3 offset+s6" style="background-color:blue"><span class="flow-text">Enlarged Chakra</span></div>
    </div>
    <br>
    <div class="row">
      <div class="col s3 offset+s6" style="background-color:blue"><span class="flow-text">Info about Chakra</span></div>
    </div>
    <br>
    <div class="row">
      <div class="col s3 offset+s6" style="background-color:blue"><span class="flow-text">Suggestions</span></div>
    </div>
    </div>
  <div class="row">
      <div class="col s6 offset-s3" style="background-color:blue"><img src="../Project2/human-body2-512.png" alt="" class="circle responsive-img"></div>
  </div> -->
  <script type="text/javascript" src="/materialize/js/materialize.min.js"></script>
</div>
</div>
